/* variables */
:root {
  /* colors */
  --intro-background: hsl(217, 28%, 15%);
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonials-background: hsl(219, 30%, 18%);

  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(0, 0%, 60%);
}

/* default/global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden !important;
}

body {
  min-height: 100vh;
  background: var(--main-background);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.container {
  position: relative;
  width: 1280px;
  max-width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background: none;
  outline: 0;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.btn {
  display: inline-block;
  background: var(--cyan);
  padding: 1rem 5rem;
  border-radius: 30px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  transition: .25s ease;
}

.btn:hover {
  background: var(--blue);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/* animation on intersecting element */
.hidden {
  opacity: 0;
  transition: 1s ease;
}

.anim-from-bottom {
  transform: translateY(60px);
}

.anim-from-left {
  transform: translateX(-60px);
}

.anim-from-right {
  transform: translateX(60px);
}

.show {
  opacity: 1;
  transition: 1s ease;
  transform: translate(0, 0);
}

/* header */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
}

.navbar-menu {
  display: flex;
  gap: 2.5rem;
}

.nav-link {
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--light-grey);
  transition: 0.25s ease;
}

.nav-link:hover {
  color: var(--white);
}

/* hero */
.hero {
  position: relative;
  background: var(--intro-background);
  padding-bottom: 6rem;
}

.curve-image {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.curve-image.mobile {
  display: none;
}

.hero-content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text-area {
  margin: 1rem 0;
  width: 800px;
  max-width: 100%;
}

.hero-text-heading {
  font-size: 2.5rem;
}

.hero-text-desc {
  margin: 1.5rem auto;
  width: 650px;
  max-width: 100%;
  font-size: 1.25rem;
  color: var(--light-grey);
}

/* feature */
.feature {
  padding-bottom: 6rem;
  overflow-x: hidden;
}

.feature-container {
  margin: 0 auto;
  width: 980px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature-card {
  width: 26rem;
}

.feature-icon-area {
  height: 84px;
}

.feature-text-heading {
  margin: 1rem 0 0.5rem;
}

.feature-text-desc {
  color: var(--light-grey);
}

/* productive */
.productive {
  padding: 6rem 0;
}

.productive-container {
  display: flex;
  align-items: center;
}

.productive-image {
  width: 50%;
}

.productive-text-area {
  width: 50%;
  padding-left: 48px;
}

.productive-text-heading {
  font-size: 2.5rem;
  line-height: 1.15;
}

.productive-text-desc {
  margin: 1rem 0;
  color: var(--light-grey);
}

.link {
  padding: .25rem 0;
  float: left;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--cyan);
  border-bottom: 1px solid var(--cyan);
}

/* profile */
.profile {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 16rem;
}

.profile-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  place-items: center;
  padding-bottom: 4rem;
}

.profile-card {
  background: var(--testimonials-background);
  padding: 1.75rem;
  border-radius: 6px;
  box-shadow: 6px 6px 14px hsla(219, 30%, 18%, 0.6);
}

.profile-card-text {
  width: 100%;
}

.profile-info {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-person-name {
  font-size: 1rem;
}

.designation {
  font-size: 0.85rem;
  color: var(--light-grey);
}

.quotes-img {
  position: absolute;
  top: -2rem;
  left: 1rem;
  z-index: -1;
}

/* get started */
.get-started {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  max-width: 90%;
  background: var(--intro-background);
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 2.5rem 4rem;
}

form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

input {
  flex: 1;
  padding: 1rem;
  border-radius: 30px;
  border: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}

/* footer */
.footer {
  background: var(--footer-background);
  padding-top: 16rem;
  padding-bottom: 6rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.footer-location {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  width: 360px;
  max-width: 100%;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer-nav-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.footer-nav-item {
  margin-bottom: .5rem;
}

.footer-social-container {
  display: flex;
  gap: 1rem;
}

.footer-social-container a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  text-align: center;
  line-height: 36px;
}

/* reponsive */
@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }

  .curve-image.desktop {
    display: none !important;
  }

  .curve-image.mobile {
    display: block !important;
    width: 100%;
  }

  /* header */
  .navbar {
    padding: 1.5rem 0;
  }

  .logo {
    width: 100px;
  }

  /* hero */
  .hero-text-heading {
    font-size: 2rem;
  }

  .get-started {
    padding: 2.5rem;
  }

  form .btn {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .productive-container {
    flex-direction: column;
    gap: 2rem;
  }

  .productive-image,
  .productive-text-area {
    width: 100%;
    padding: 0;
  }

  .productive-text-heading {
    font-size: 2rem;
  }

  /* footer */
  .footer-nav-menu {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1.5rem;
  }

  .footer-social-container {
    margin: 0 auto;
  }
}